@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

#site {
  background: image-url('santacasa/bg-page.jpg') repeat-x scroll center top transparent;
}

#page-header-wrapper {
  border: 0;
  background: $transparent;
}

#navbar ul#navbar-left-links, #navbar ul#navbar-right-links {
  @include font-size($font-medium);

  .dropdown-menu {
    @include font-size($font-normal);
  }
}

ul#navbar-left-links, #navbar #navbar-right-links {
  margin: 25px 20px;
}

#content, #content-middle, #navbar-wrapper {
  background: $transparent;
}

#footer-wrapper {
  background: image-url('santacasa/bg-footer.jpg') repeat scroll center top transparent;
}

#footer-logo {
  margin-top: 10px;
  width: 280px;
  height: 46px;
  background: image-url('santacasa/footer-copyright.png') no-repeat scroll left top transparent;
}

#navbar-logo {
  margin-top: 5px;
  width: 68px;
  height: 80px;
}

#page-menu {

  > ul {
    border-bottom: 1px solid #ddd;

    > li {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: -2px;

      &.selected {
        border: 0;
        border-bottom: 3px solid $santacasa-dark-peach;
        @include border-top-radius(0);
        background: $transparent;
        > a {
          $normal: $h-font-color;
          $hover: lighten($h-font-color, 10);
          @include link-colors($normal, $hover, $hover, $normal);
        }
      }
    }
  }

}

#navbar #navbar-right-links .dropdown .dropdown-menu {
  top: $navbar-height - 60px; // 60 magic number for borders, margins, etc, makes it look good
}

#content-middle {
  h3 {
    color: $h-font-color;
  }
}

h1, h2, h3, h4 {
  color: $h-font-color;
}

#footer {
  .footer-languages {
    float: left;
    margin: 25px 0 0 100px;

    li {
      display: inline;
      margin-left: 10px;

      a {
        $normal: #ccc;
        $hover: white;
        @include link-colors($normal, $hover, $hover, $normal);
      }
    }
  }

  .mconftec {
    float: right;
    margin: 15px 10px 0 0;

    img {
      width: 32px;
      height: 32px;
      @include transition(opacity .5s, background .5s);
      opacity: 0.7;
      padding: 3px;
      @include border-radius(4px);
    }

    img:hover {
      opacity: 1;
      background: darken($footer-bg-color, 5);
    }
  }

  .mconf {
    float: right;
    margin: 15px 10px 0 0;

    img {
      width: 28px;
      height: 28px;
      @include transition(opacity .5s, background .5s);
      opacity: 0.7;
      padding: 6px;
      @include border-radius(4px);
    }

    img:hover {
      opacity: 1;
      background: darken($footer-bg-color, 5);
    }
  }
}

body.errors {
  #content-wrapper {
    background: $transparent;
    border: 0;
  }

  #site {
    background: image-url('santacasa/bg-page.jpg') repeat-x scroll center top transparent;
  }
}

body.frontpage.show {

  #navbar-wrapper {
    background: $transparent;
    @include box-shadow(none);
  }

  #navbar {
    #main-logo-santacasa {
      margin-left: 200px;
      float: left;
    }

    #main-logo {
      margin-right: 200px;
      float: right;
    }
  }
}
